<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Ajuda - Sistema de Peças</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="icon" th:href="@{/image/favicon.png}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/pecas">
      <img th:src="@{/logo.svg}" alt="Logo da Oficina">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/pecas">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contatos">Contatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ajuda">Ajuda</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Serviços
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="../cliente/home">Clientes</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{pecas/form}"><i class="fas fa-plus"></i> Cadastrar Nova Peça</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h3 class="card-title mb-0">Ajuda - Sistema de Peças</h3>
    </div>
    <div class="card-body">
      <h4>Como usar o Sistema de Peças:</h4>
      <ul>
        <li>Cadastrar uma peça:
          <ul>
            <li>Preencha o nome da peça de acordo com a chegada.</li>
            <li>Informe a quantidade de peças disponíveis em estoque.</li>
            <li>Adicione uma descrição da peça.</li>
            <li>Informe o valor da peça.</li>
            <li>Se a peça for usada ou de outro valor, crie um novo cadastro.</li>
          </ul>
        </li>
        <li>Editar uma peça:
          <ul>
            <li>Acesse a página "Peças".</li>
            <li>Clique no botão "Editar" ao lado da peça que deseja modificar.</li>
            <li>Atualize as informações necessárias.</li>
          </ul>
        </li>
        <li>Excluir uma peça:
          <ul>
            <li>Atenção: apenas um gerente tem permissão para excluir peças.</li>
            <li>Acesse a página "Peças".</li>
            <li>Clique no botão "Excluir" ao lado da peça que deseja remover.</li>
            <li>Confirme a exclusão quando solicitado.</li>
          </ul>
        </li>
      </ul>
      <p>Para mais informações ou suporte adicional, entre em contato conosco pelo telefone (43) 3940-3020 ou pelo email daniel.bernardi@ufn.edu.br</p>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
